<div class="container">
    <div class="card m-5">
        <div class="card-header d-flex justify-content-between">
            <h4>{{holding.name}} | {{holding.symbol}}</h4>
        </div>
        <div class="card-body">
            @if(errorMessages.length > 0){
            <div class="alert alert-dismissible alert-danger">
                <strong>Oh snap!</strong>
                @for (errorMessage of errorMessages; track errorMessage) {
                <p class="form-error-message">{{errorMessage}}</p>
                }
                <p>Change a few things up and try submitting again.</p>
            </div>
            }
            <form class="px-3" #form="ngForm">
                <div class="d-flex flex-wrap gap-2">
                    <div class="mb-3" style="width: fit-content;">
                        <label for="closing" class="form-label">Closing</label>
                        <input #Closing="ngModel" type="number" class="form-control form-control-sm" id="closing"
                            name="closing" [(ngModel)]="newValues.closing">
                    </div>

                    <div class="mb-3" style="width: fit-content;">
                        <label for="closingCommission" class="form-label">Closing Commission</label>
                        <input type="number" class="form-control form-control-sm" id="closingCommission"
                            name="closingCharges" [(ngModel)]="newValues.closingCharges"
                            [disabled]="(newValues.closing <= 0)"
                            [value]="newValues.closing <= 0? 0: newValues.closingCharges">
                    </div>

                    <div class="mb-3" style="width: fit-content;">
                        <label for="dividend" class="form-label">Dividend Amount</label>
                        <input type="number" class="form-control form-control-sm" id="dividend" name="dividend"
                            [(ngModel)]="newValues.dividend">
                    </div>

                    <div class="mb-3" style="width: fit-content;">
                        <label for="dividendCommission" class="form-label">Dividend Commission</label>
                        <input type="number" class="form-control form-control-sm" id="dividendCommission"
                            name="dividendCharges" [(ngModel)]="newValues.dividendCharges"
                            [disabled]="(newValues.dividend <= 0)"
                            [value]="newValues.dividend <= 0? 0: newValues.dividendCharges">
                    </div>
                </div>

                <div class="d-flex flex-wrap gap-1 justify-content-end">
                    <button type="button" class="btn btn-primary btn-sm"
                        [disabled]="((newValues.closing <= 0) && (newValues.dividend <= 0))"
                        (click)="onSave()">Save</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="onCancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>