<div class="container">
    <div class="card m-5">
        <div class="card-header d-flex justify-content-between">
            <h4>Overview</h4>

            @if(isHoldingAdd){
            <li
                class="new-holding-success ps-3 pe-3 list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                <strong>Well done!</strong> You successfully added a new holding.
            </li>
            }

            <button class="btn btn-primary" [disabled]="newHoldingForm.style.display? false: true"
                (click)="onAdd(newHoldingForm)">Add</button>
        </div>
        <div class="card-body">
            <div class="border-bottom" #newHoldingForm style="display: none;">
                <td colspan="6">
                    <app-add-transaction [newHoldingForm]="newHoldingForm"
                        (isSuccessfullyAdd)="onAddingHolding($event)"></app-add-transaction>
                </td>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th (click)="sort('Name')">
                            Name ↑↓
                        </th>
                        <th (click)="sort('Symbol')">
                            Symbol ↑↓
                        </th>
                        <th (click)="sort('OpeningTotal')">
                            Opening Total ↑↓
                        </th>
                        <th (click)="sort('ExDate')">
                            Ex Date ↑↓
                        </th>
                        <th (click)="sort('DividendDate')">
                            Dividend Date ↑↓
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @for (holding of holdings; track holding.id) {
                    <tr>
                        <td>{{holding.name}}</td>
                        <td>{{holding.symbol | uppercase }}</td>
                        <td>{{holding.transaction.openingTotal | currency:'R':'symbol':'1.2-2' }}</td>
                        <td>{{holding.summary.exDate | date: 'EEE d MMMM y'}}</td>
                        <td>{{holding.summary.dividendDate | date: 'EEE d MMMM y'}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-info btn-sm"
                                [disabled]="newHoldingForm.style.display? false: true"
                                (click)="onDetails(details)">Details</button>
                        </td>
                    </tr>
                    <tr #details style="display: none;">
                        <td colspan="6">
                            <app-transaction-detail [transaction]="holding"></app-transaction-detail>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>