<div class="container">
    <div class="card m-5">
        <div class="card-header d-flex justify-content-between">
            <h4>Overview</h4>
            <button class="btn btn-primary" [disabled]="newHoldingForm.style.display? false: true"
                (click)="onAdd(newHoldingForm)">Add</button>
        </div>
        <div class="card-body">
            <div class="border-bottom" #newHoldingForm style="display: none;">
                <td colspan="6">
                    <app-add-transaction [newHoldingForm]="newHoldingForm"></app-add-transaction>
                </td>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Name
                            <span>
                                <button type="button" class="btn btn-light" (click)="sort('Name', 'asc')">
                                    ↑
                                </button>
                                <button type="button" class="btn btn-light" (click)="sort('Name', 'desc')">
                                    ↓
                                </button>
                            </span>
                        </th>
                        <th>
                            Symbol
                            <button type="button" class="btn btn-light" (click)="sort('Symbol', 'asc')">
                                ↑
                            </button>
                            <button type="button" class="btn btn-light" (click)="sort('Symbol', 'desc')">
                                ↓
                            </button>
                        </th>
                        <th>
                            Opening Total
                            <button type="button" class="btn btn-light" (click)="sort('OpeningTotal', 'asc')">
                                ↑
                            </button>
                            <button type="button" class="btn btn-light" (click)="sort('OpeningTotal', 'desc')">
                                ↓
                            </button>
                        </th>
                        <th>
                            Ex Date
                            <button type="button" class="btn btn-light" (click)="sort('ExDate', 'asc')">
                                ↑
                            </button>
                            <button type="button" class="btn btn-light" (click)="sort('ExDate', 'desc')">
                                ↓
                            </button>
                        </th>
                        <th>
                            Dividend Date
                            <button type="button" class="btn btn-light" (click)="sort('DividendDate', 'asc')">
                                ↑
                            </button>
                            <button class="btn btn-light" (click)="sort('DividendDate', 'desc')">
                                ↓
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @for (holding of holdings; track holding.id) {
                    <tr>
                        <td>{{holding.name}}</td>
                        <td>{{holding.symbol | uppercase }}</td>
                        <td>{{holding.transaction.openingTotal | currency:'R':'symbol':'1.2-2' }}</td>
                        <td>{{holding.summary.exDate | date: 'EEE d MMMM y'}}</td>
                        <td>{{holding.summary.dividendDate | date: 'EEE d MMMM y'}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-info btn-sm"
                                [disabled]="newHoldingForm.style.display? false: true"
                                (click)="onDetails(details)">Details</button>
                        </td>
                    </tr>
                    <tr #details style="display: none;">
                        <td colspan="6">
                            <app-transaction-detail [transaction]="holding"></app-transaction-detail>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>